<div class="row justify-content-center align-items-center g-2">
  <div class="col-md-12 col-lg-6 window border rounded px-5 py-4">
    <h1 class="text-center">ADDALAICHENAI 09</h1>
    <form method="POST">
      <div class="d-flex gap-3 align-items-end">
        <input type="text" autocomplete="off" class="form-control" placeholder="House Number / Person NIC" name="input_value" required />
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
