<!-- Main Content -->
<div class="container my-4">
  <div class="row justify-content-center align-items-center g-2">
      <div class="col-12 col-md-8 col-lg-8 border rounded px-4 py-4">
          <h1 class="text-center fs-3">ADDALAICHENAI 09</h1>
          <form method="POST">
              <div class="mb-3">
                  <input type="text" autocomplete="off" class="form-control" placeholder="House Number / Person NIC" name="input_value" required />
              </div>
              <div>
                  <button type="submit" class="btn btn-primary w-100">Submit</button>
              </div>
          </form>
      </div>
  </div>
</div>